@import 'tailwindcss';

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --card: 60 0% 97%;
    --card-foreground: 20 14.3% 4.1%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --primary: 207.37 37.75% 29.61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.86%;
    --secondary-foreground: 24 9.8% 10%;
    --accent: 38.82 39.53% 57.84%;
    --accent-foreground: 24 0% 100%;
    --destructive: 0 80.24% 47.16%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 207.37 37.75% 29.61%;
    --chart-2: 0 0% 96.86%;
    --chart-3: 38.82 39.53% 57.84%;
    --chart-4: 0 0% 99.86%;
    --chart-5: 207.37 40.75% 29.61%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 96.86%;
  }

  .dark {
    --background: 227.2 3.54% 20.06%;
    --foreground: 60 9.1% 97.8%;
    --muted: 222.69 46.79% 21.17%;
    --muted-foreground: 0 0% 92.55%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --card: 237.88 14.32% 3%;
    --card-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --primary: 205.76 72.65% 45.88%;
    --primary-foreground: 0 0% 92.55%;
    --secondary: 219 55.1% 26.78%;
    --secondary-foreground: 0 0% 92.55%;
    --accent: 247.27 42.37% 53.73%;
    --accent-foreground: 0 0% 92.55%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 35.5 91.7% 32.9%;
    --chart-1: 205.76 72.65% 45.88%;
    --chart-2: 219 55.1% 26.78%;
    --chart-3: 247.27 42.37% 53.73%;
    --chart-4: 219 55.1% 29.78%;
    --chart-5: 205.76 75.65% 45.88%;
    --sidebar-background: 227.2 3.54% 20.06%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
